[Unit]
Description=Nehru Place IT Services Django Gunicorn Service
After=network.target mysql.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/ecomnpits
EnvironmentFile=/home/ecomnpits/.env
Environment="HOME=/home/ecomnpits"
ExecStart=/home/ecomnpits/venv/bin/gunicorn --config /home/ecomnpits/gunicorn.conf.py config.wsgi:application

Restart=always
RestartSec=3s
KillMode=mixed
TimeoutStopSec=30s

# Security Sandboxing
ProtectSystem=full
ProtectHome=false
PrivateTmp=true

[Install]
WantedBy=multi-user.target
